In [1]:
import pandas
from sklearn import linear_model

In [2]:
df = pandas.read_csv("sample_data.csv")
df.head()

   ID         Car    Car Model  Volume  Weight  CO2
0   1   Chevrolet  Car Model 1    1872    1692   91
1   2      Nissan  Car Model 2    1366     874  141
2   3  Oldsmobile  Car Model 3    1753    1826  147
3   4      Jaguar  Car Model 4    1761     970   92
4   5        Audi  Car Model 5    1616    1376  135

In [5]:
X=df[['Weight','Volume']]
y=df['CO2']

In [6]:
regr = linear_model.LinearRegression()
regr.fit(X, y)

predict_CO2 = regr.predict([[2000, 1200]]) #predict the CO2 emission where the weight is 2000kg, and the volume is 1200cm3

print(predict_CO2)

[127.97315167]

### Finding the Coefficient

In [7]:
print(regr.coef_)

[ 0.00395797 -0.00536952]

### Weight increases by 1 kg, then the CO2 emission increases by 0.00395797g

## Predicting the CO2 emission where the weight is 3000kg, and the volume is 1200cm3

In [8]:
predict_CO2 = regr.predict([[3000, 1200]])

In [9]:
print(predict_CO2)

[131.93111983]

### We have predicted that a car with 1.2 liter engine, and a weight of 3000 kg, will release 
### approximately 131 grams of CO2 for every kilometer it drives. It shows that  
### the coefficient of 0.00395797 is correct: 127.97315167+(1000*0.00395797)=131.93112166999998

In [11]:
print(127.97315167+(1000*0.00395797))

131.93112166999998